

/* Reusable */

	.button {
		background-image: url("images/ie/button.svg");
	}

		.button:hover {
			background-image: url("images/ie/button-hover.svg");
		}

/* Header */

	#header-wrapper {
		background-image: url("images/ie/header-wrapper.svg");
	}

	#header {
		background-image: url("images/ie/header.svg");
	}

		#header nav a.current-page-item {
			background-image: url("images/ie/nav-a.svg");
		}

		#header nav a:hover {
			background-image: url("images/ie/nav-a-hover.svg");
		}
		
		
		
/* Panel */

	.panel > .inner.split:after {
		clear: both;
		content: '';
		display: block;
	}

	.panel > .inner.split > div {
		float: left;
		margin-left: 0;
		padding-left: 0;
	}

	.panel > .inner.split > :first-child {
		padding-left: 0;
	}

/* Wrapper */

	#wrapper:before {
		display: none;
	}

/* Main */

	#main:after {
		clear: both;
		content: '';
		display: block;
	}

	#main .thumb {
		float: left;
	}